.g-111 {background-color:transparent;background-image:url("trprt.gif");}
.g-111N {background-color:transparent;background-image:url("trprt.gif");}
.g-112 {background-color:transparent;background-image:url("trprt.gif");}
.g-701 {background-color:rgb(0,0,0);}
.g-739 {background-color:;}
.g-888 {background-color:white;}
.g-BK1066 {background-color:;}
.g-BK1A068 {background-color:;}
.g-BL4E149 {background-color:blue;}
.g-BL4E274 {background-color:blue;}
.g-GN6137 {background-color:green;}
.g-NC {background-color:transparent;background-image:url("trprt.gif");}
.g-WH8414 {background-color:white;}
.g-YW8B015 {background-color:yellow;}
